@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

:root {
 --textElementPrimary: #333;
 --textElementSecondary: #1b71bb;
 --textElementWhite: #fff;

 --fontFamily: 'Poppins', sans-serif;
 --fontSizeText: 16px;
 --fontSizeTitle: 20px;
 --fontSizePageTitle: 22px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
  color: var(--textElementPrimary);
  font-size: var(--fontSizeText);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
